HeaderFilterRegex: '*'
WarningsAsErrors: ''

ExtraArgs:
  - "-std=gnu++17"
  - "-stdlib=libstdc++"

Checks: >
  bugprone-argument-comment,
  bugprone-assert-side-effect,
  bugprone-bool-pointer-implicit-conversion,
  bugprone-copy-constructor-init,
  bugprone-dangling-handle,
  bugprone-infinite-loop,
  bugprone-integer-division,
  bugprone-macro-parentheses,
  bugprone-macro-repeated-side-effects,
  bugprone-multiple-statement-macro,
  bugprone-redundant-branch-condition,
  bugprone-signed-char-misuse,
  bugprone-sizeof-container,
  bugprone-suspicious-enum-usage,
  bugprone-suspicious-memory-comparison,
  bugprone-suspicious-memset-usage,
  bugprone-suspicious-string-compare,
  bugprone-terminating-continue,
  bugprone-too-small-loop-variable,
  bugprone-undefined-memory-manipulation,
  bugprone-use-after-move,
  cppcoreguidelines-init-variables,
  misc-unused-alias-decls,
  misc-unused-parameters,
  misc-unused-using-decls,
  readability-braces-around-statements,
  readability-duplicate-include,
  readability-redundant-control-flow,
  readability-simplify-boolean-expr,
  readability-static-definition-in-anonymous-namespace,
  performance-unnecessary-copy-initialization,
  performance-unnecessary-value-param
