Index:
  Background: Build
  #External: None

Hover:
  ShowAKA: Yes

Completion:
  AllScopes: Yes

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: None
  ClangTidy:
    FastCheckFilter: Loose
  Suppress: 
    - member_function_call_bad_type
    - pp_file_not_found_angled_include_not_fatal
    - overloaded-virtual
    - no_member

CompileFlags:
  Compiler: "/n64_toolchain/bin/mips64-elf-g++"
  CompilationDatabase: Ancestors
  Add: 
    - "-target"
    - "mipsel-none-elf"
    - "-m32"
    - "-mabi=32"
    - "-DDEBUG"
    - "-g"
    - "-Og"
  Remove:
    - "-O*"
    - "-g"
    - "-mtune=vr4300"
    - "-march=vr4300"
